<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="{{ image }}" class="d-block w-100" alt="..." />
    </div>
  </div>
  <a
    class="carousel-control-prev"
    role="button"
    data-slide="prev"
    (click)="prevImage()"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    role="button"
    data-slide="next"
    (click)="nextImage()"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<div class="container homeBody">
  <div class="row">
    <div class="col-xl-6">
      <p class="col-12 text-center" style="color: black" id="title">
        WELCOME TO
      </p>
      <p class="col-12 text-center" id="title">Company</p>
    </div>
    <div class="col-6"></div>
    <p class="col-xl-6" id="bodyText">
      The Pizza Hut story begins in May 1958. Dan and Frank Carney opened their
      550-squarefoot pizza restaurant in Wichita, Kansas. Dan and Frank, with
      friends Richard Beemer and John Bender, made the pizza themselves. Frank
      rolled the dough with a rolling pin. Richard tossed the dough in the air
      from the pie tin. Dan filled the unbaked crust with sauce. John flipped
      the pie from the tin during the baking process. Dan Carney recalled, “The
      people were enchanted with the product, watching us tossing the dough over
      our heads. They were really enjoying themselves….”
      <br />
    </p>
    <div class="col-6"></div>
    <a class="col-xl-6 text-center" style="font-size: medium" id="title"
      >Read more</a
    >
    <br />
  </div>
</div>
