@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@300&family=Roboto+Mono:wght@200&display=swap");
#navbar-font-style {
  font-family: "Montserrat Alternates", sans-serif;
}
.navbar-brand {
  color: #ee2c30;
  padding-right: 2%;
  padding-left: 5%;
}
.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}
.modal-title {
  font-size: 230%;
}

@media (min-width: 992px) {
  .modal-dialog {
    padding-top: 10%;
  }
}
